* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
}
/*  header 1 */
.Mbem {
  border: 5px solid rgb(232, 224, 224);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 0 30px;
   /* border: 1px solid red;   */
   margin-bottom: 20px;
 
}

.bas {
  width: 90%;
}
.bas ul {
  display: flex;
  list-style: none;
  /* border: 1px solid red;  */
  width: 100%;
  justify-content: space-between;
  /* gap: 20 px;  */
}
.bas ul li a {
  list-style: none;
  text-decoration: none;
  /* font-weight: bold; */
  color: black;
}
.left {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid blue; */
  align-items: center;
  width: 50%;
}
.right {
  /* border: 1px solid red; */
  display: flex;
  gap: 20px;
}
button {
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  border: none;
  display: flex;
  align-items: center;
}
.btn1 {
  background-color: #23408d;
  border-radius: 20px;
  gap: 2px;
   /* border: 1px solid red;  */

}
.btn2 {
  background-color: #f4d316;
  border-radius: 20px;
   gap: 2px;
}
.fleche  {
display: flex;
align-items: center;
  
}


/* .btn1 svg {
  width: 40px;
  height: 20px;
  color: rgb(237, 237, 237);
}
.btn2 svg {
  width: 40px;
  height: 20px;
  color: rgb(242, 241, 244); 
}  */


/*  header 3 */

/*  Premiere barre  */
.haut {
  display: flex;
  align-items: stretch;
  width: 100%;
  background-color: #6c1125;
  min-height: 36px;
  /* padding: 20px;
  border: 1px solid yellowgreen; */
  margin-top: 10px;
}
.haut-gauche {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 6px 16px;
  flex: 1;
  margin-left: 5rem;
}

.haut-gauche span {
  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
  font-size: 12px;
  font-family: sans-serif;
}

.haut-droite {
  display: flex;
  align-items: stretch;
  /* border: 2px solid #23408D; */
  margin-right: 5rem;
}
.haut-droite .tel {
  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
  font-size: 12px;
  font-family: sans-serif;
  padding: 0 16px;
}

.btn {
  background-color: #d57a44;
  color: white;
  border: none;
  padding: 0 10px;
  font-size: 12px;
  font-family: sans-serif;
  cursor: pointer;
}

/* deuxieme barre */
.nav2 {
  display: flex;
  align-items: center;
  gap: 260px;
  padding: 8px 24px;
  /* border: 1px solid red; */
  margin-bottom: 10px;
  
}

.logo {
  /* border: 5px solid red; */
  margin-left: 80px;
} 

.lien ul {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  gap: 30px;
  list-style: none;
  /* border: 1px solid red; */

}
.lien li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #A49DA0;

}

.lien li a:hover {
  color: #6c1125;
}

.tel svg {
  width: 40px;
  height: 20px;
  color: rgb(237, 237, 237);
}
.cont svg {
  width: 40px;
  height: 20px;
  color: rgb(237, 237, 237);
}
.color{
   color: #A49DA0;
}

.fleche svg {
  width: 20px;
  height: 10px;
  color: #888;
}

/*  header devoir */
.devoir {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
    background-color: #1F47C1;
    margin-bottom: 20px;
}
.logo{
    display: flex;
    align-items: center;
    /* border: 1px solid green; */
    gap: 15px;
    margin-left: 20px;
}
.titre{
    font-weight: bold;
    color: white;
    font-size: 20px;
}
.liste ul {
    display: flex;
    align-items: center;
    list-style: none;
      /* border: 1px solid rgb(77, 0, 128); */
      gap: 35px;
      margin-right: 50px;
     padding: 10px 20px;
}
.liste ul a {
    text-decoration: none;
    color: white;
}
.btnd {
    background-color:#DA2627;
    padding: 10px 20px;
    border-radius: 10px;
}

/*  header 8*/

.body {
    font-family: sans-serif;
    font-size: 18px;
}
.africa {
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
    gap: 1rem;
    background-color: #0559B2;
    width: 100%;
   
}
.debut {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: 180px;
    /* border: 5px solid red; */
}
.cmr2 {
display: flex;
align-items: center;
gap: 2px;
/* border: 5px solid red;  */
}
.cmr {
    color: white;
}
.milieu{
     /* border: 5px solid rgb(51, 0, 255);  */
}
.milieu ul {
    display: flex;
    align-items: center;
    /* border: 3px solid green; */
    list-style: none;
    gap: 30px;
}
.milieu ul a {
    text-decoration: none;
    color: white;
}
.btngo{
    background-color: #FEC530;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 20px;
}
.btngo2 {
 background: white;
 color: rgba(0, 0,0, 0.2);
 font-size: 17px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    
}
.icone {
/* border:2px solid rgba(255, 255, 255, 0.2);
background: transparent; */
background: rgba(255, 255, 255, 0.1); ;
padding: 5px 7px;
border-radius: 50px;
}
.icone1 {
 background: rgba(255, 255, 255, 0.1); ;
padding: 7px 5px;

}
body{
    margin: 0;
}
.filigramme {
    position: relative;
    min-height: calc(100vh- 80px);
    background: #fff;
    overflow: hidden;
    height: 50vh;
}
/*pour mettre le fiigramme derriere tout le contenu*/
.filigramme > *{
    position: relative;
    z-index: 2;
}
.fil {
    position: absolute;
    top: 30%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    font-size: 200px;
    font-weight: bold;
    color: rgba(0, 0, 255, 0.06);
    z-index: 1;
     

}
.m {
    color: rgba(3, 71, 146, 0.1);
}
.n{
    color:rgba(252, 202, 53, 0.1);
}

